<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999013355181-a16b0qtfe4gvg8v4dt6e71cmi21oc62k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999013355181-a16b0qtfe4gvg8v4dt6e71cmi21oc62k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>999013355181-g5q5952turvfak8i23s842u65fvo8n4a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbBBTwQewgPJP3r6rhFvYkzSjQ-92sY0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>999013355181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>remottely.nextlov</string>
	<key>PROJECT_ID</key>
	<string>remottely-nextlov</string>
	<key>STORAGE_BUCKET</key>
	<string>remottely-nextlov.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999013355181:ios:c329a87b32d660da75c024</string>
</dict>
</plist>